<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= device-width, initial-scale=1.0">
    <title>Traco | Seja bem Vindo!</title>
</head>
    <body>
        <div id="link">
            <nav>
                <img>
                <div>
                    <a>Cadastro</a>
                    <a>Checkin</a>
                    <a>Clientes</a>
                    <a>Faturamento</a>
                </div> 
            </nav>
        </div>
        <main id='root'>

        </main>
    </body>
    <script type="module" src="/index.js"></script>
    <script type="module" src="controller/checkin.js"></script>
</html>